[
    Question("Qui finira strip-teaseureuse ?"),
    Question("En boîte, qui pourrait forcer avec le DJ pendant une heure pour passer « Les sardines » de Patrick Sébastien ?"),
    Question("Qui tient secrètement un traffic de sucettes pour enfants ?"),
    Question("Qui deviendra un⋅e joueureuse de triangle professionel⋅le ?"),
    Question("Qui fera une carrière en politique ?"),
    Question("Qui pourrait boire de la vodka en pensant que c'est de l'eau, sans s'en rendre compte ?"),
    Question("Qui a l'alcool joyeux ?"),
    Question("Qui a l'alcool triste ?"),
    Question("Qui est relou⋅e quand iel a bu ?"),
    Question("Qui pourrait se passionner pour les scoubidous pendant deux jours avant de complètement passer à autre chose ?"),
    Question("Qui pourrait faire une déclaration d'amour à un pigeon ?"),
    Question("Qui pourrait mordre dans un tronc d'arbre pour faire rire la gallerie ?"),
    Question("Qui plaquerait tout pour enfin se lancer dans une carrière de musicien⋅ne ?"),
    Question("Qui serait capable de faire un stream Twitch de 24 heures ?"),
    Question("Qui ne peut pas se balader sans écouteurs ?"),
    Question("Qui pourrait créer une religion centrée sur ellui-même ?"),
    Question("Qui crée des playlists pour déprimer au moindre petit souci ?"),
    Question("Qui serait capable de rejoindre une secte sans le savoir ?"),
    Question("Qui est capable de se péter une jambe juste en marchant"),
    Question("Qui pense être læ héro⋅ïne⋅s de l'histoire mais en fait c'est juste un⋅e figurant⋅e ?"),
    Question("Qui serait læ héro⋅ïne⋅s si on était dans un film ?"),
    Question("Qui n'a qu'un seul neuronne, mais arrive miraculeusement à sortir des bonnes idées de temps en temps ?"),
    Question("Qui pourrait aller en cours en pyjama ?"),
    Question("Qui pourrait adopter une grenouille dans son jardin ?"),
    Question("Qui peut acheter 3 kilos de pain et tout manger dans la journée ?"),
    Question("Qui percerait sur TikTok ?"),
    Question("Qui ferait le meilleur cosplay ?"),
    Question("Qui ferait une collection de pins beaucoup trop grande ?"),
    Question("Qui collectionnerait les kazoos ?"),
    Question("Qui serait læ premier⋅e à mourir lors d'une invasion de zombies ?"),
    Question("Qui pourrait devenir YouTubeureuse et faire un partenariat avec Durex ?"),
    Question("Qui tagguerait des bites sur une école maternelle ?"),
    Question("Qui est læ plus survivaliste ?"),
    Question("Qui pourrait changer de prénom et partir à l'étranger du jour au lendemain pour disparaître ?"),
    Question("Qui aura un roomba comme animal de compagnie ?"),
    Tag("Quel animal", [
        ("Un phasme", "phasme.jpg", "David Clode"),
        ("Une méduse", "meduse.jpg", "Alba Martinez"),
        ("Un ornythorinque", "orny.jpg", "Meg Jerrad"),
        ("Une musaraigne", "musaraigne.jpg", "Manuel R."),
        ("Un cachalot", "cachalot.jpg", "Gabriel Barathieu"),
        ("Une anémone de mer", "anemone.jpg", "Lesly Derksen"),
    ]),
    Question("Qui pourrait gagner un prix Nobel ?"),
    Question("Qui s'engagerait chez les Anonymous ?"),
    Question("Qui est læ plus complotiste ?"),
    Question("Qui tenterait de s'envoler avec des ballons d'hélium ?"),
    Question("Qui finirait à poil au poker ?"),
]
