[
    Question("Qui finira strip-teaseureuse ?"),
    Question("En boîte, qui pourrait forcer avec le DJ pendant une heure pour passer « Les sardines » de Patrick Sébastien ?"),
    Question("Qui tient secrètement un traffic de sucettes pour enfants ?"),
    Question("Qui deviendra un⋅e joueureuse de triangle professionnel⋅le ?"),
    Question("Qui fera une carrière en politique ?"),
    Question("Qui pourrait boire de la vodka en pensant que c'est de l'eau, sans s'en rendre compte ?"),
    Question("Qui a l'alcool joyeux ?"),
    Question("Qui a l'alcool triste ?"),
    Question("Qui est relou⋅e quand iel a bu ?"),
    Question("Qui pourrait se passionner pour les scoubidous pendant deux jours avant de complètement passer à autre chose ?"),
    Question("Qui pourrait faire une déclaration d'amour à un pigeon ?"),
    Question("Qui pourrait mordre dans un tronc d'arbre pour faire rire la galerie ?"),
    Question("Qui plaquerait tout pour enfin se lancer dans une carrière de musicien⋅ne ?"),
    Question("Qui serait capable de faire un stream Twitch de 24 heures ?"),
    Question("Qui ne peut pas se balader sans écouteurs ?"),
    Question("Qui pourrait créer une religion centrée sur ellui-même ?"),
    Question("Qui crée des playlists pour déprimer au moindre petit souci ?"),
    Question("Qui serait capable de rejoindre une secte sans le savoir ?"),
    Question("Qui est capable de se péter une jambe juste en marchant"),
    Question("Qui pense être læ héro⋅ïne⋅s de l'histoire mais en fait c'est juste un⋅e figurant⋅e ?"),
    Question("Qui serait læ héro⋅ïne⋅s si on était dans un film ?"),
    Question("Qui n'a qu'un seul neurone, mais arrive miraculeusement à sortir des bonnes idées de temps en temps ?"),
    Question("Qui pourrait aller en cours en pyjama ?"),
    Question("Qui pourrait adopter une grenouille dans son jardin ?"),
    Question("Qui peut acheter 3 kilos de pain et tout manger dans la journée ?"),
    Question("Qui percerait sur TikTok ?"),
    Question("Qui ferait le meilleur cosplay ?"),
    Question("Qui ferait une collection de pins beaucoup trop grande ?"),
    Question("Qui collectionnerait les kazoos ?"),
    Question("Qui serait læ premier⋅e à mourir lors d'une invasion de zombies ?"),
    Question("Qui pourrait devenir YouTubeureuse et faire un partenariat avec Durex ?"),
    Question("Qui taguerait des bites sur une école maternelle ?"),
    Question("Qui est læ plus survivaliste ?"),
    Question("Qui pourrait changer de prénom et partir à l'étranger du jour au lendemain pour disparaître ?"),
    Question("Qui aura un roomba comme animal de compagnie ?"),
    Tag("Quel animal", [
        ("Un phasme", "phasme.jpg", "David Clode"),
        ("Une méduse", "meduse.jpg", "Alba Martinez"),
        ("Un ornythorinque", "orny.jpg", "Meg Jerrad"),
        ("Une musaraigne", "musaraigne.jpg", "Manuel R."),
        ("Un cachalot", "cachalot.jpg", "Gabriel Barathieu"),
        ("Une anémone de mer", "anemone.jpg", "Lesly Derksen"),
        ("Un ragondin", "ragondin.jpg", "Lucas Fernandez"),
        ("Un vautour", "vautour.jpg", "US Fish & Wildlife Services"),
    ]),
    Question("Qui pourrait gagner un prix Nobel ?"),
    Question("Qui s'engagerait chez les Anonymous ?"),
    Question("Qui est læ plus complotiste ?"),
    Question("Qui tenterait de s'envoler avec des ballons d'hélium ?"),
    Question("Qui finirait à poil au poker ?"),
    Question("À qui offrirais-tu des plantes en plastique pour qu'iel arrête de tuer des vraies plantes ?"),
    Tag("Quel homme politique", [
        ("Jean Castex", "castex.jpg", "Florian David"),
        ("Emmanuel Macron", "macron.jpg", "EU2017EE Estonian Presidency"),
        ("Nicolas Sarkozy", "sarko.jpg", "European People's Party"),
        ("François Hollande", "hollande.jpg", "COP Paris"),
        ("Jean-Marie Le Pen", "lepen.jpg", "Blandine Le Cain"),
        ("Jean-Luch Mélenchon", "melenchon.jpg", "Fred Marvaux"),
        ("Joseph Staline", "staline.jpg", "U.S. Signal Corps photo."),
        ("Gérald Darmanin", "darmanin.jpg", "Gezelin Gree"),
    ]),
    Question("Qui va mourir célibataire ?"),
    Question("Qui a l'air méchant⋅e, mais qui est en réalité un nounours ?"),
    Question("Qui se ferait arnaquer sans le savoir ?"),
    Question("Qui pourrait devenir mannequin ?"),
    Question("La personne qu'on retrouvera morte devant son ordi."),
    Question("Qui mettrait sa vie en jeu suite à la prédiction d'un⋅e voyant⋅e ?"),
    Question("Qui deviendrait « voyant⋅e » juste pour arnaquer le monde ?"),
    Question("Qui se retrouverait coincé⋅e en haut d'un arbre suite à un pari idiot ?"),
    Question("Qui ferait une crise de foie après avoir mangé 4 bonbonnes de chantilly ?"),
    Question("Qui a un melon plus grand que son avenir ?"),
    Question("La personne qui devrait juste arrêter de parler des fois."),
    Question("Qui deviendrait monteur financier avec des banques au Liechtenstein ?"),
    Question("La personne qui devrait arrêter de regarder des trucs sur son ordi pour aller toucher de l'herbe."),
    Question("Qui pourrait manger un œuf cru ?"),
    Question("La personne qui se retrouverait à faire l'arbre pendant une pièce de théâtre."),
    Question("La personne qui se ramasse TROP la gueule, stp regarde où tu marches."),
    Tag("Quel patate", [
        ("Patate heureuse", "patate-heureuse.png", ""),
        ("Patate énervée", "patate-nrv.png", ""),
        ("Patate en colère", "patate-kolere.png", ""),
        ("Patate erreur 404", "patate-404.png", ""),
        ("Patate flemme", "patate-dodo.png", ""),
        ("Patate triste", "patate-triste.png", ""),
        ("Patate chill", "patate-chill.png", ""),
        ("Patate maléfique", "patate-mal.png", ""),
    ]),
    Tag("Quel mollusque", [
        ("Ver de terre", "ver.jpg", "Fir0002"),
        ("Chenille", "chenille.jpg", ""),
        ("Poulpe", "poulpe.jpg", ""),
        ("Bigorneau", "bigorneau.jpg", ""),
        ("Huître", "huitre.jpg", ""),
        ("Moule", "limace.jpg", ""),
        ("Concombre de mer", "concombredemer.jpg", ""),
        ("Limace", "limace.jpg", ""),
    ]),
    Tag("Quel dessert", [
        ("Tarte au citron", "tarte-citron.jpg", ""),
        ("Macaron", "macaron.jpg", ""),
        ("Kouign aman", "beurre-sucré.jpg", ""),
        ("Gâteau au yaourt", "gateau-yaourt.jpg", ""),
        ("Cupcake", "cupcake.jpg", ""),
        ("Flan", "flan.jpg", ""),
        ("Fraisier", "fraisier.jpg", ""),
        ("Donut", "donut.jpg", ""),
    ]),
    Tag("Quel légume", [
        ("Carotte", "carotte.jpg", ""),
        ("Brocoli", "brocoli.jpg", ""),
        ("Petit pois", "petits-pois.jpg", ""),
        ("Poireau", "poireau.jpg", ""),
        ("Artichaut", "artichaut.jpg", ""),
        ("Fenouil", "fenouil.jpg", ""),
        ("Courgette", "courgette.jpg", ""),
        ("Chou de Bruxelles", "chou-de-bruxelles.jpg", ""),
    ]),
    Question("Qui serait assez maladroit⋅e pour laisser s'échapper un virus ultra dangereux d'un laboratoire ?"),
    Question("Qui commencerait à halluciner après une nuit blanche ?"),
    Question("Qui pourrait se perdre dans son quartier ?"),
    Question("Qui est un⋅e sugar daddy⋅mommy ?"),
    Question("Qui est un⋅e sugar baby ?"),
    Question("Qui gagnerait les Hunger Games ?"),
    Question("Qui posterait un selfie alors qu'il y a une catastrophe naturelle ?"),
    Question("À qui ne prêteras-tu jamais 10€ ?"),
    Question("Qui perdrai en 1 contre 1 face à une marmotte ?"),
    Question("Qui se battrait contre un ours à mains nues ?"),
    Question("Qui ne serait pas au courant qu'il faut cuire les pâtes avant de les manger ?"),
    Question("Qui ne présentera tu jamais à tes parents ?"),
    Question("Qui pousserait mémé dans les orties ?"),
    Question("Qui est le père / la mère du groupe ?"),
    Question("Qui croirait à un mail d'un prince africain voulant lui donner 1 millions d'euros ?"),
    Question("Qui pourrait mourir à cause d'un rhume ?"),
    Question("Qui pourrait s'embrouiller avec un lampadaire ?"),
    Question("Qui serait secrètement un super héros / une super héroïne ?"),
    Question("Qui mourrait dans un crash de tricycle ?"),
    Question("Qui mangerai le plus à un concours de bouffe ?"),
    Question("À la fin il n'en restera qu'un. Qui es-ce ?"),
    Question("Qui ferait un WartaJugeTesPotes tout seul ?"),
    Tag("Quelle couleur", [
        ("Rouge", "rouge.png", "Public domain"),
        ("Orange", "orange.png", "Public domain"),
        ("Jaune", "jaune.png", "Public domain"),
        ("Vert", "vert.png", "Public domain"),
        ("Turquoise", "turquoise.png", "Public domain"),
        ("Bleu", "bleu.png", "Public domain"),
        ("Violet", "violet.png", "Public domain"),
        ("Rose", "rose.png", "Public domain"),
    ]),
    Question("Quelle personne apparaît a des soirées où elle n'est pas invitée ?"),
    Question("Qui échangerait votre amitié contre une victoire à n'importe quel jeu ?"),
    Question("Qui aura du diabète a 30 ans ?"),
    Question("Qui serait capable de secrètement dépenser 100 balles pour un booster de cartes Pokémon ?"),
    Question("Qui péterait un câble au moindre petit soucis ?"),
    Question("Qui est la personne qui sera obligée de faire un gros câlin à son voisin de gauche une fois les résultats révélés ?"),
    Question("Qui n'est pas honnête avec soi-même au warta juge tes potes ?"),
    Question("Qui se fera insulter par son prof/son boss ?"),
    Question("Qui aura honte de son article wikipédia dans 30 ans ?"),
    Question("Qui a probablement passé 10 jours sans manger a méditer sous une cascade pour acquérir un tel style ?"),
    Question("Qui regrette ses « pour combien » ?"),
    Tag("Quel personnage d'Astérix", [
        ("Astérix", "asterix.jpg", "Éditions Albert René"),
        ("Obélix", "obelix.jpg", "Éditions Albert René"),
        ("Panoramix", "pano.jpg", "Éditions Albert René"),
        ("Abraracourcix", "abrara.gif", "Éditions Albert René"),
        ("Ordralfabétix", "ordralfa.gif", "Éditions Albert René"),
        ("Cétautomatix", "cetauto.gif", "Éditions Albert René"),
        ("Assurancetourix", "assur.gif", "Éditions Albert René"),
        ("Idéfix", "idefix.jpg", "Éditions Albert René"),
    ]),
    Question("Qui met des t-shirts en hiver et des pulls en été ?"),
    Question("Qui tient un compte fan de Justin Bieber avec des milliers de followers ?"),
    Question("Qui deviendra miss météo ?"),
    Question("Qui pourrait ouvrir une galerie d'art ?"),
    Question("Qui aura la mort la plus nulle ?"),
    Question("Qui n'a plus de data au bout du dixième jour du mois ?"),
    Question("Qui demanderait a son meilleur pote d'effacer son historique avant sa mort ?"),
    Question("Qui achète 50% de ses trucs sur Wish ?"),
    Question("Qui sera réincarné en mandrill dans une vie future ?"),
    Question("Qui est secrètement un illuminati reptilien roboto-juif-qui-contrôle-le-monde ?"),
    Question("Qui a acheté un bitcoin quand il ne valait pas cher et n'en a évidemment parlé a personne ?"),
    Question("Qui durerait le plus longtemps devant Myke Tyson ?"),
    Question("Qui s'est senti plus intelligent que la moyenne après avoir regardé Rick et Morty ?"),
    Question("Qui a urgemment besoin d'un Bescherelle ?"),
    Tag("Quelle boisson", [
        ("De l'eau", "", ""),
        ("De la bière", "", ""),
        ("Du sirop", "", ""),
        ("Du champagne", "", ""),
        ("Du whisky", "", ""),
        ("Du jus d'orange", "", ""),
        ("De la pisse de chat", "", ""),
        ("Du chocolat chaud", "", ""),
        ("Du café", "", ""),
    ]),
    Tag("Quel réseau social", [
        ("Instagram", "", ""),
        ("Facebook", "", ""),
        ("Twitter", "", ""),
        ("Snapchat", "", ""),
        ("maStOdON", "", ""),
        ("TikTok", "", ""),
        ("MySpace", "", ""),
        ("LinkedIn", "", ""),
    ]),
    Tag("Quelle orientation politique", [
        ("Ni de gauche ni de droite", "", ""),
        ("De gauche mais en vrai pas trop (vote PS)", "", ""),
        ("Communiste", "", ""),
        ("De droite", "", ""),
        ("Beaucoup trop de droite", "", ""),
        ("Anarchiste mais juste en théorie", "", ""),
        ("Anarchiste mais ne le sait pas", "", ""),
        ("Ne fait pas de politique (donc de droite mais ne le sait pas)", "", ""),
    ]),
    Tag("Quel Toi-Tubeur", [
        ("MacVoler", "", ""),
        ("Petit Charles", "", ""),
        ("Prien-prien-prien-prien-prien-prien", "", ""),
        ("I-penser", "", ""),
        ("Docteur homme-nez", "", ""),
        ("Homme Nord", "", ""),
        ("Pressade", "", ""),
        ("Monsieur V", "", ""),
    ]),
    Tag("Quel chocolat", [
        ("Chocolat noir archi amer", "", ""),
        ("Chocolat olé olé", "", ""),
        ("Chocolat blanc comme un cul", "", ""),
        ("Chocolat croustillant", "", ""),
        ("Chocolat au caramel", "", ""),
        ("Chocolat tine", "", ""),
        ("Œuf de Pâques", "", ""),
        ("Chocolat au gingembre", "", ""),
    ]),
]
