@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');

* {
    padding: 0;
    margin: 0;
}

html {
    background: linear-gradient(#131316 0, #1D1C21 120vh);
}

body {
    font-family: 'Pangolin', cursive;
    background-attachment: fixed;
    color: #F8FFF4;
    padding-bottom: 2em;
}

header {
    padding: 1em;
    text-align: center;
}

header a, header a:visited {
    color: #F8FFF4;
    text-decoration: none;
}

main {
    margin: 1em auto;
    width: clamp(100px, 70ch, 95vw);
}

input {
    display: block;
    width: calc(100% - 2em - 4px);
    border: 2px solid #8075FF;
    border-radius: 4px;
    background: transparent;
    color: #F8FFF4;
    padding: 1em;
}

.button {
    border: 2px solid #8075FF;
    color: #8075FF;
    border-radius: 4px;
    padding: 1em;
    display: block;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background 0.1s ease-in;
}

.button.reconnect {
    width: 100%;
    font-size: 2em;
    background-color: white;
    box-shadow: 0 0 20px lightblue;
}

.button:hover {
    background: #8075FF88;
}

.button.disabled, button.disabled:hover {
    filter: grayscale(75%);
    cursor: not-allowed;
}

section > * {
    margin: 0.5em 0;
}

h2 {
    margin-top: 2em;
    text-align: center;
    font-size: 3rem;
}

.lobby {
    display: flex;
    gap: 2em;
    justify-content: space-around;
    flex-wrap: wrap;
}

.lobby > div {
    text-align: center;
}

section {
    margin: 2em 0;
}

#avatar-selector img, .avatar {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    border: none;
    box-sizing: border-box;
}

#avatar-selector {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#avatar-selector .selected {
    border: 2px solid #8075FF;
    background: #8075FF88;
}

#avatar-selector img {
    cursor: pointer;
    margin: 1em;
    transition: all 0.1s ease-in-out;
}

#avatar-selector img:hover {
    transform: scale(1.1);
}

.popup {
    text-align: center;
    font-weight: bold;
    padding: 1em;
    border-radius: 4px;
    position: fixed;
    left: 10vw;
    right: 10vw;
    top: 5vh;
}

.warning {
    background: #441113;
    color: red;
}

.info {
    background: rgba(107, 163, 104, 0.2);
    color: #6BA368;
}

.result {
    display: flex;
    align-items: center;
    margin: 2em 0;
    background: linear-gradient(90deg, #8075FF88 var(--percent), transparent var(--percent));
    background-size: 0%;
    border-radius: 4px;
    animation: bounce 0.2s ease-in-out;
    animation-fill-mode: forwards;
    background-repeat: no-repeat;
    padding: 1em;
}

@keyframes bounce {
    from {
        background-size: 0%;
    }
    to {
        background-size: 100%;
    }
}

.result p {
    margin: 0 1em;
}

.result p:first-of-type {
    flex: 1;
    font-size: 1.5em;
}

h3 {
    text-align: center;
}

.choices {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
}

.choices > * {
    flex: 1;
}

.tag-img {
    width: 8em;
    height: 8em;
    background-position: center;
    background-size: cover;
    margin: 1em auto;
    border-radius: 4px;
}

@media (orientation: portrait) {
    .result .tag-img {
        display: none;
    }
}
