* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

header {
    background: black;
    color: white;
    padding: 1em;
    text-align: center;
}

main {
    margin: 1em auto;
    width: clamp(100px, 70ch, 95vw);
}

input {
    display: block;
    width: 100%;
}

.button {
    border: 2px solid red;
    color: red;
    border-radius: 4px;
    padding: 1em;
    display: block;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background 0.1s ease-in;
}

.button:hover {
    background: rgba(255, 0, 0, 0.2);
}

section > * {
    margin: 0.5em 0;
}

h2 {
    margin-top: 2em;
    text-align: center;
}

.lobby {
    display: flex;
    gap: 2em;
    justify-content: space-around;
}

.lobby > div {
    text-align: center;
}

#avatar-selector img, .avatar {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    border: none;
}

#avatar-selector {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#avatar-selector .selected {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.7);
}

#avatar-selector img {
    cursor: pointer;
    margin: 1em;
    transition: all 0.1s ease-in-out;
}

#avatar-selector img:hover {
    transform: scale(1.1);
}

.warning {
    text-align: center;
    font-weight: bold;
    color: red;
}